@media only screen and (orientation: portrait) {
	body {
		background: #ffffff;
	}
	#mainMenu {
		display: none;
	}
	#signupForm, #authForm {
		width: 90%;
	}
}

@media only screen and (orientation: landscape) {
	body {
		background: #ffffff;
	}
	#mainMenu {
		display: none;
	}
	#signupForm, #authForm {
		width: 90%;
	}
}

#main-menu {
	width: 100%;
}

#nav-panel {
    display: none;
}

#main-menu>ul>li>span {
	font-size: 120%;
	padding: 10px 10px;
}

#profile {
	height: 140px;
}

#content {
	padding: 10px;
	overflow: auto;
}

.openedEditor {
	display: none;
}
#title{
	font-size: 80%;
}


.workoutsPersonalStats .label {
	width: 32%;
	clear:left;
}

.workoutsPersonalStats .eval,.workoutsPersonalStats .goal,.workoutsPersonalStats .achievement
	{
	width: 20%;
}

.specific .label{
    width:27% !important;
    padding-left:5%;
}