@media only screen and (orientation: portrait) {
	body {
		background: #ffffff;
	}
	#mainMenu {
		display: none;
	}
	#signupForm, #authForm {
		width: 90%;
	}
}

@media only screen and (orientation: landscape) {
	body {
		background: #ffffff;
	}
	#mainMenu {
		display: none;
	}
	#signupForm, #authForm {
		width: 90%;
	}
}

#nav-panel {
	display: none;
}

#content {
	padding: 10px;
}

.openedEditor {
	display: none;
}