<!DOCTYPE html>
<html data-ng-app="unaBackOffice">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
<title>UNA Web Site - Espace membre</title>

<link rel="stylesheet" href="app/resources/backoffice.css" />
<link rel="stylesheet" href="app/resources/main.css" />
<link rel="stylesheet" type="text/css" href="app/resources/commons.css"
	media="all" />
<link rel="stylesheet" href="app/resources/desktop.css"
	media="screen and (min-width: 1024px)" />
<link rel="stylesheet" href="app/resources/large.css"
	media="screen and (min-width: 1960px)" />
<link rel="stylesheet" href="app/resources/phone.css"
	media="screen and (max-width: 639px)" />
<link rel="stylesheet" href="app/resources/tablet.css"
	media="screen and (min-width: 640px) and (max-width: 1023px)" />

<script type="text/javascript" src="app/resources/tools.js"></script>
<script type="text/javascript" src="js/lib/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="js/lib/angular.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.2/angular-route.min.js"></script>
<script src="//code.angularjs.org/1.2.2/angular-sanitize.js"></script>
<script src="app/resources/authentication.tools.js"></script>
<script src="app/resources/registrator.ctrl.js"></script>
<script src="app/resources/workoutsCommons.ctrl.js"></script>
<script src="app/resources/workoutStatistics.ctrl.js"></script>
<script src="app/resources/workoutsManager.ctrl.js"></script>
<script src="app/resources/workoutSupervisor.ctrl.js"></script>
<script src="app/resources/membersManager.ctrl.js"></script>
<script src="app/resources/membersSupervisor.ctrl.js"></script>
<script src="app/resources/personalStatistics.ctrl.js"></script>
<script src="app/resources/athletesStatistics.ctrl.js"></script>
<script src="app/resources/simplifiedWorkoutsManager.ctrl.js"></script>
<script src="app/resources/authenticator.js"></script>
<script src="app/resources/signup.ctrl.js"></script>
<script src="app/resources/directives.js"></script>
<script src="app/resources/backoffice.ctrl.js"></script>
</head>
<body>
	<header>
		<div id="logo"></div>
		<div id="title">UNA Web Site - Espace membre</div>
		<div id="nav-button">
			<span class="icon-bar"></span><span class="icon-bar"></span><span
				class="icon-bar"></span>
		</div>
	</header>
	<div id="page">
		<div id="preloaderContainer" data-ng-show="preloaderDisplay">
			<div id="preloader">
				<img src="img/preloader.gif" width="100px" height="100px" />
			</div>
		</div>
		<div id="nav-panel">
			<div id="profile" data-ng-show="loggedUser">
				<div class="panel">
					<div class="user">{{loggedUser}}</div>
					<div class="button" data-ng-click="logout()">{{messages.labels.logout}}</div>
				</div>
			</div>
			<nav id="main-menu">
				<ul>
					<li data-ng-repeat="item in tools | orderBy:'order'"><span
						data-ng-class="{'selected':item.code==tool}"><a
							href="#/{{item.code}}/">{{item.label}}</a></span></li>
				</ul>
			</nav>
		</div>
		<div id="content" data-ng-view></div>
	</div>

	<div id="editorContainer">
		<div id="editor">
			<div class="closeButton">X</div>
			<p></p>
		</div>
	</div>

	<footer>
		<div id="copyright">support [at] una-club.fr</div>
	</footer>

</body>
</html>