Bonjour {{data.name}} {{data.surname}}, 

Vous venez de remplir le formulaire de pré-inscription sur le site du club d'aviron Université Nantes Aviron et votre numéro d'inscription est {{data.regNumber}}. Voici ce qu'il faut faire maintenant :
* Imprimer le document PDF se trouvant en pièce jointe 
* Signer le document (ou faire signer le document par un représentant légal pour les -18 ans)
* Compléter le dossier avec toutes les pièces requises pour l'inscription. Vous avez plusieurs façons de le faire : 
    * Télécharger les copies numériques des documents depuis votre éspace membre sur le site du club.
    * Les transferer par email : il suffit juste de repondre à ce message. 
    * Apporter tous les documents le jour de votre inscription.

A bientôt au club d'aviron,

Vous pouvez consulter les horaires d'ouverture sur le site du club.

L'équipe UNA 