<link rel="stylesheet" href="app/resources/simplifiedWorkoutManager.css"
    media="all" type="text/css" />
<div class="simplifiedWorkoutManager">
    
    <div class="controlPanel">

        <button data-ng-click="addResult()">Ajouter un
            entrainement</button>

    </div>
     
    
    
    <div class="workoutsList">
        <ul>
            <li class="clickable"
                data-ng-repeat="workout in filteredSessions  |  orderBy:orderProp : reverse = true |  limitTo: workoutsLimit">
                <div class="removeBtn"
                    data-ng-click="removeWorkout(workout);">X</div>
                <div data-ng-show="workout.itemType==1" class="workoutItem"
                    data-ng-click="editWorkout(workout);">
                    <span class="date">{{getDateLabel(workout.date)}}</span><span
                        class="description">{{getWorkoutLabel(workout)}}</span>
                </div>
            </li>
        </ul>
        <button data-ng-click="showAllWorkouts()">Afficher tous les entrainements</button>
    </div>

    
</div>

<div data-ng-include="workoutsEditor"></div>
