<!--
<div data-calendar-view
    data-controls-list="[{'label': 'Ajouter un résultat', 'method' : 'addResult', 'display' : 'past'}, 
    {'label' : 'Voir mes résultats', 'method' : 'viewResults', 'displayMethod' : 'isResultsNotNull', 'dynLabel' : 'getResultsCnt', 'display' : 'past'}]"
    data-day-content-method="getGoals"
    data-update-events="['sessionsLoaded', 'tasksLoaded']"></div>
-->

<div data-calendar-view
    data-controls-list="[{'label': 'Ajouter un résultat', 'method' : 'addResult', 'display' : 'past'}, 
    {'label' : 'Voir mes résultats', 'method' : 'viewResults', 'displayMethod' : 'isResultsNotNull', 'dynLabel' : 'getResultsCnt', 'display' : 'past'}]"
    data-day-content-method="getGoals"
    data-update-events="['sessionsLoaded', 'tasksLoaded']"></div>
    
<div data-ng-include="workoutsEditor"></div>


